.header{
    background: #000000;
    font-family: 'Didact Gothic';
    font-size: 20px;
}

.nav-item{
    padding-left: 30px;
}

.dropdown-menu{
    background: #000000;
}

.dropdown-item{
    color: #ffffff;
}

.navbar-toggler{
    border:0;
}

.navbar-text{
    padding: 10px 15px 5px 15px;
    font-size: 15px;
}

.login-name{
     background: #006400;
     padding-left: 0px;
     border-radius: 25px;
}