<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}We-Talk{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/normalize.min.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
</head>
<body>
    <header>
        <div class="logo">
            <a href="{{url_for('home')}}"> <img src="/static/img/logo.png"></a>
        </div>
        <div class="navbar">
            <nav>
                <ul>
                    <li> <a href="{{ url_for('home') }}"> Home </a> </li>
                    {% if current_user.is_authenticated %}
                        <li> <a href="{{ url_for('index') }}"> Private Feed </a> </li>
                    {% else %}
                    <li> <a href="{{ url_for('index') }}"> Public Feed </a> </li>
                    {% endif %}

                    <li> <a href=""> About </a> </li>

                    {% if current_user.is_authenticated %}
                        <li> <a href="{{ url_for('logout') }}"> Log Out </a> </li>
                    {% else %}
                        <li> <a href="{{ url_for('login') }}"> Log In </a> </li>
                        <li> <a href="{{ url_for('register') }}"> Register </a> </li>

                    {% endif %}
                </ul>
            </nav>
        </div>
    </header>
    <div class="bodi">
        {% block content %}{% endblock %}
    </div>
</body>
</html>