{% extends "layout.html" %}

{% block content %}
{% for post in stream %}
    <article>
        <h2>
            <a href="{{ url_for('stream', username=post.user.username) }}">{{ post.user.username }} </a> <span style="font-size: 14px">posted</span>
        </h2>
        <div class="post">
            {{ post.content }}
        </div>
        <i class="clock"></i>

        <time data-time="{{ post.timestamp }}" class="distime" datetime="{{ post.timestamp.strftime('%Y-%m-%d') }}">{{ post.timestamp.strftime('at %I:%m %p on %A, %d %b %y') }}</time>

        <a href="{{ url_for('post', post_id=post.id) }}" class="view">View</a>

    </article>
{% endfor %}
{% endblock %}